@import "../../variables.modules.scss";

.coloredCards{
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    border-radius: 100%;
}

.darkblueCard{
    @extend .coloredCards;
    background-color: $darkblue;
}

.lightblueCard{
    @extend .coloredCards;
    background-color: $lightblue;
}

.darkorangeCard{
    @extend .coloredCards;
    background-color: $darkorange;
}

.lightyellowCard{
    @extend .coloredCards;
    background-color: $lightyellow;
}

.lightredCard{
    @extend .coloredCards;
    background-color: $lightred;
}