@import "../../../variables.modules.scss";

.tabsContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    margin: 30px;
}

.tabsContainer div:hover{
    cursor: pointer;
    color: $lightyellow;
    font-weight: bold;
}

.isActive {
    color: $lightyellow;
    font-weight: bold;
}