@import "../../variables.modules.scss";

.cardContainer{
    display:flex;
    width: 45%;
    height: 50vh;
    background-color: $lightblue;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.videoContainer{
    width: 100%;
    height: 62%;
    border-radius: 10px;
}